/* District Quiz Font Size - Text(14px),Header&Ref(16px) */

.page {
  width: 8.5in;
  height: 11in;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
}

.grid-container {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.header-row {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

.grid-cell {
  font-size: 14px;
  min-height: 0; /* Fixes vertical overflow */
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: auto auto 1fr auto;
  border: 1px solid grey;
  padding: 5px;
  row-gap: 2px;
}

.ques-text {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-block: 2px;
}

.grid-cell div:last-child {
  grid-column: 1 / -1;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

/* Modify Grid Cell Styles for Church Cells */
.church-cell {
  font-size: 12px;
}

.church-cell div:nth-child(odd) {
  font-size: 11px;
}

.grid-divider {
  grid-column: 1 / -1;
  flex: 30px 0 0;
  background-color: #999;
}

/* 1. Hide the element on normal screens */
.print-only {
  display: none;
}

/* 2. Show the element only when printing */
@media print {
  .print-only {
    display: block !important;
  }

  .no-print {
    display: none !important;
  }
  .page-break {
    display: block; /* Ensures the element behaves as a block */
    break-after: page; /* Modern standard */
    page-break-after: always; /* Legacy fallback for older browsers */
  }

  /* Prevent default printer behaviour of not printing background colors */
  .grid-divider {
    /* For modern browsers (Firefox, Edge, Safari) */
    print-color-adjust: exact !important;

    /* For WebKit browsers (Chrome, older Safari, Opera) */
    -webkit-print-color-adjust: exact !important;

    /* Ensure the color itself has high specificity */
    background-color: #bbb !important;
  }
}
